@charset "utf-8";

#wrap{
    overflow: hidden;
}

#header{
    width:100%;
    height:93px;
    background:#947967;
    position:relative;
}
#header .logo{
    width:94px;
    margin:0 auto;
    padding-top:12px;
}
#header .btnMenu{
    text-indent:-9999px;
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    top:22px;
    right:0;
}

#header .btnMenu span{
    display:block;
    width:38px;
    height:5px;
    background:rgba(255,255,255,1);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
#header .btnMenu span:before, #header .btnMenu span:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:38px;
    height:5px;
    background:#fff;
}
#header .btnMenu span:before{
    top:-12px;
    transition:all 0.3s;
}
#header .btnMenu span:after{
    top:12px;
    transition:all 0.3s;
}
#header .btnMenu:hover span{
    background:rgba(255,255,255,0)
}
#header .btnMenu:hover span:before{
    top:0;
    transform:rotate(45deg)
}
#header .btnMenu:hover span:after{
    top:0;
    transform:rotate(-45deg)
}


/* 메인 슬라이더 영역 */
#mainSlider{
    position:relative;
}

#mainSlider .slider{
    display:block;
    position:relative;
}


/* s1 */
#mainSlider .s1 .simg img{
    width:100%;
    height:auto;
}
#mainSlider .s1 .photo img{
    width:40%;
    height:auto;
    position:absolute;
    top:50%;
    left:8.6%; /* 43px */
    transform:translateY(-50%);
    
}
#mainSlider .s1 .tit{
    text-align:center;
    color:#6a441b;
    font-size:5.6vw; /* 28px */
    line-height:1.3em;
    font-weight:900;
    position:absolute;
    top:50%;
    right:8.8%; /* 44px */
    transform:translateY(-50%);
}
#mainSlider .s1 .tit strong{
    font-size:8.7vw; /* 43.5px */
}
#mainSlider .s1 .tit span{
    color:#905c24;
    font-size:3.4vw; /* 17px */
    font-weight:bold;
}

/* s2, s3 */
#mainSlider .s2 img, #mainSlider .s3 img{
    width:100%;
    height:auto;
}
#mainSlider .s2 .slider, #mainSlider .s3 .slider{
    display:block;
    position:relative;
}




/* 페이저 */
#mainSlider .bx-pager{
    width:100px;
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    position:absolute;
    bottom:3.6%; /* 18px */
    left:50%;
    transform:translateX(-50%)
}
#mainSlider .bx-pager div{}
#mainSlider .bx-pager div a{
    display:block;
    text-indent:-9999px;
    width:20px;
    height:20px;
    background:rgba(225,225,225,0.5);
    border-radius:50%;
    overflow:hidden;
}
#mainSlider .bx-pager div .active{
    width:50px; /* 41px */
    border-radius:41px;
    background:rgba(249,212,123,0.8);
}








/* 컨테이너 영역 */
#container{
    margin-bottom:6%; /* 25px */
}
.cont1{
    padding-top:6%;
    position:relative;
    margin-bottom:6%;
    
}
.cont1 .title{
    margin-bottom:4.8%; /* 24px */
    text-align:center;
}
.cont1 .title img{
    width:26.6%; /* 133px */
    height:auto;
}
.cont1 .product{
    display:-webkit-flex;
    display:flex;
    margin: 0 10%;
    /*position:absolute;
    left:11%;
    top:auto;*/
}
.cont1 .product li{
    width:50%; /* 187px */
    position:relative;
}
.cont1 .product .pd1{
    margin-right:2.6%; /* 13px */
}
.cont1 .product li .background{
    text-indent:-9999px;
    width:100%;
    /*height:22%*/;/*220px;*/
    padding:56% 0;
    background:#f8e3da;
    border-radius:6%;
}
.cont1 .product li .photo{
}
.cont1 .product li .photo img{
    width:83%; /* 415px */
    height:auto;
    position:absolute;
    top:7%; /* 16px */
    left:50%;
    transform:translateX(-50%);
}
.cont1 .product li .photo span{
}
/*.cont1 .product li .photo span{
    display:block;
    width:83%;
    height:62.3%;
    box-shadow:0 0 0 0 #fdd501 inset;
    position:absolute;
    top:7%;
    left:50%;
    transform:translateX(-50%);
    transition:all 0.3s;
}
.cont1 .product li:hover .photo span{
    box-shadow:0 0 0 1.5vw #fdd501 inset;
}*/

.cont1 .product li .tit{
    width:100%;
    font-size:2.6vw; /* 11px */
    font-weight:bold;
    line-height:1.2em;
    text-align:center;
    position:absolute;
    bottom:7%; /* 35px */
    left:50%;
    transform:translateX(-50%);
}
.cont1 .product li .tit strong{
    display:block;
    font-size:2.8vw;
    font-weight:900;
    color:#e02a2a;
    margin-top:2%; /* 20px */
}

/* 화살표 */
.cont1 .arrow{
    text-indent:-9999px;
}
.cont1 .arrow span a{
    content:"";
    display:block;
    width:20px;
    height:20px;
    border-top:4px solid #4c3027;
    border-right:4px solid #4c3027;
    position:absolute;
    top:60%;
}

.cont1 .arrow span:nth-child(1) a{
    transform:rotate(-135deg);
    left:3.5%;
}
.cont1 .arrow span:nth-child(2) a{
    transform:rotate(45deg);
    right:3.5%;
}


/* cont2 영역 */
.cont2{}
.cont2 ul{}
.cont2 ul li{
    position:relative;
}
.cont2 ul li img{
    width:100%;
    height:auto;
}

.cont2 ul li .on img{
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.cont2 ul li:hover .on img{
    display:block;
}


.cont2 .notice{
    width:100%;
    padding-bottom:30%;
    background:#fff;
    border:15px solid #f0cf9b;
    position:relative;
}
.cont2 .notice .title{
    position:absolute;
    top:50%;
    left:5%;
    transform:translateY(-50%);
}
.cont2 .notice .title a{
    font-size:4.8vw; /* 24px */
}
.cont2 .notice ul{
    position:absolute;
    top:50%;
    left:25%;
    transform:translateY(-50%)
}
.cont2 .notice ul li{
    position:relative;
}
.cont2 .notice ul li:hover{
    text-decoration:underline;
}
.cont2 .notice ul li a{
    font-size:2.4vw /* 12px */;
    line-height:2em;
}
.cont2 .notice ul li:before{
    content:"";
    display:block;
    width:1.4%; /* 7px */
    padding-bottom:1.4%;
    background:#111;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:-2%;
    transform:translateY(-50%);
}

/* 푸터 영역 */
#footer{
    width:100%;
    height:276px;
    background:#633e26;
    position:relative;
}
.fmenu{
    margin-bottom:40px;
    position:absolute;
    top:44px;
    left:50%;
    transform:translateX(-50%)
}
.fmenu ul{
    width:299px;
    margin-bottom:20px;
}
.fmenu ul li{
    float:left;
    line-height:1em;
    border-right:1px solid #eee;
    margin-right:13px;
    padding-right:13px;
}
.fmenu ul li:nth-child(3){
    border-right:none;
    margin-right:0;
    padding-right:0;
}
.fmenu ul li a{
    color:#eee;
    font-size:12px;
    line-height:1em;
}

.finfo{
    padding-top:120px;
    text-align:center;
    color:#eee;
    font-size:12px;
    line-height:1em;
    margin-bottom:40px;
}
.finfo p{
    margin-bottom:10px;
}
.finfo p span{}
.finfo p span:nth-child(1){}

.favorit{
    position:absolute;
    bottom:45px;
    left:50%;
    transform:translateX(-50%)
}
.favorit ul{
}
.favorit ul li{
    float:left;
    line-height:1em;
    border-right:1px solid #eee;
    margin-right:13px;
    padding-right:13px;
}
.favorit ul li:nth-child(2){
    border-right:none;
    margin-right:0;
    padding-right:0;
}
.favorit ul li a{
    color:#eee;
    font-size:12px;
    line-height:1em;
}





































