@charset "utf-8";


#wrap{
    width:100%;
    min-width:320px;
}

/* 헤더영역 */
#header{
    background:#fff;
}
#header .inner{
    position:relative;
}

#header .logo{
    display:block;
    padding-top:35px;
    text-align:center;
}
#header .logo img{
    width: 210px;
    height:auto;
}

#header .btnMenu{
    text-indent:-9999px;
    display:block;
    width:35px;
    height:26px;
    padding:9.5px 0 9.5px 10px;
    position:absolute;
    top:33px;
    right:23px;
}

#header .btnMenu span{
    display:block;
    width:35px;
    height:4px;
    background:#26939d;
    margin:7px 0;
    border-radius:10px;
}
#header .btnMenu:before, #header .btnMenu:after{
    content:"";
    display:block;
    width:35px;
    height:4px;
    background:#26939d;
    border-radius:10px;
}


#header .sideMenu{
    width:337px;
    height:100%;
    background:#fff;
    position:fixed;
    top:0;
    right:-337px;
    border:3px solid #018c94;
    z-index:600;
}
#header .sideMenu .inner{
    padding:0 32px;
    position:relative;
}

#header .sideMenu .menulogo{
    display:block;
    padding-top:28px;
    margin-left:41px;
}

#header .sideMenu .close{
    display:block;
    position:absolute;
    top:36px;
    left:32px;
}
#header .sideMenu .close span{
    text-indent:-9999px;
    display:block;
    width:23px;
    height:2px;
    background:#018c94;
    position:relative;
}
#header .sideMenu .close span:after{
    content:"";
    width:12px;
    height:12px;
    border-left:2px solid #018c94;
    border-top:2px solid #018c94;
    transform:rotate(-45deg);
    position:absolute;
    top:-6px;
    left:0;
}

#header .sideMenu .utill{
    width:272px;
    margin:45px auto 55px;
}

#header .sideMenu .utill ul{
    display:-webkit-flex;
    display:flex;
}

#header .sideMenu .utill ul li{
    margin-right:20px;
}

#header .sideMenu .utill ul li a{
    display:block;
    width:126px;
    height:41px;
    background:#69b5b9;
    color:#fff;
    font-size:22px;
    line-height:41px;
    font-weight:bold;
    text-align:center;
}
#header .sideMenu .utill ul li:nth-child(2) a{
    border:3px solid #69b5b9;
    background:#fff;
    color:#69b5b9;
    box-sizing:border-box;
    line-height:35px;
}

#header .sideMenu .utill ul li:nth-child(3),
#header .sideMenu .utill ul li:nth-child(4){
    display:none;
}



#header .sideMenu .gnb h2{
    display:none;
}
#header .sideMenu .gnb .d1{}

#header .sideMenu .gnb .d1 .m{
    display:block;
    font-size:22px;
    font-weight:bold;
    color:#018c94;
    padding:24px 0;
    border-bottom:1px solid #018c94;
    position:relative;
}
#header .sideMenu .gnb .d1 .m span{
    display:block;
    text-indent:-9999px;
    width:12px;
    height:12px;
    border-right:1px solid #018c94;
    border-bottom:1px solid #018c94;
    position:absolute;
    top:20px;
    right:0;
    transform:rotate(45deg);
}


#header .sideMenu .gnb .d1 .sub{
    display: none;
    margin:18px 0 27px;
}


#header .sideMenu .gnb .d1.avtive .sub{
    display:block;
}


#header .sideMenu .gnb .d1 .sub li{
}
#header .sideMenu .gnb .d1 .sub li:last-child{
    margin-bottom:0;
}
#header .sideMenu .gnb .d1 .sub li a{
    display:block;
    padding:12.5px 0;
    width:100%;
    font-size:17px;
    color:#69b5b9;
}


#header .sideMenu .gnb .d1 .sub li:hover a{
    background:#69b5b9;
    color:#fff;
}
/* PC 탑메뉴 */
#header .topMenu{
    display:none;
}
#header .subBg{
    text-indent:-9999px;
}

/* 메인슬라이더 영역 */
#mainSlider{
    padding-top:31px;
    position:relative;
}
#mainSlider .sBg{
    display:block;
    width:100%;
    padding-bottom:65.6%; /* 328px */
    background:#ecfbde;
    text-indent:-9999px;
    position:relative;
}
#mainSlider .inner{
    text-align:center;
    position: absolute;
    top:6.2%;/* 31px */
    left:0;
}
#mainSlider .photo{
    margin:3.2% 0;/* 16px */
}
#mainSlider .photo img{
    width:79%; /* 395px */
    height:auto;
}
#mainSlider .writeBox{
    
}
#mainSlider .writeBox .logo img{
    width:53%; /* 265px */
    margin-bottom:2.6%;/* 13px */
}
#mainSlider .writeBox .title{
    font-size:4.4vw; /* 22px */
    line-height:1em;
    font-weight:bold;
    color:#3bc5cd;
    margin-bottom:2%;/* 10px */
}
#mainSlider .writeBox .title span{
    font-size:6.2vw; /* 31px */
    line-height:1em;
    color:#4ac869;
}
#mainSlider .writeBox .write{
    font-size:3.4vw; /* 17px */
    line-height:1em;
    color:#139f8a;
}
/* 더보기 */
#mainSlider .more{
    display:none;
}

/* 메인슬라이더 페이저 */
#mainSlider .bx-pager{
    width:149px;
    text-indent:-9999px;
    position:absolute;
    display:-webkit- flex;
    display:flex;
    justify-content:space-between;
    bottom:3.6%;/* 18px */
    left:50%;
    transform:translateX(-50%);
}
#mainSlider .bx-pager div a{
    display:block;
    width:45px;
    height:18px;
    background:#fff;
    box-shadow:1px 1px 2px rgba(0,0,0,0.3);
}
#mainSlider .bx-pager div .active{
    background:#38b8b8;
}
#mainSlider .pc{
    display:none;
}

/* 메인슬라이더 s2 */
#mainSlider .s2 .m{
    width:100%;
    padding-bottom:65.6%;
    background:#2d2e2d;
}
#mainSlider .s2 .m img, #mainSlider .s3 .m img{
    width:100%;
    height:auto;
}

/* 메인슬라이더 s3 */
#mainSlider .s3 .m{
    width:100%;
    padding-bottom:65.6%;
    background:#afd9f9;
}


/* 컨테이너 영역 */
#container section{
}
#container .product{
}
#container .product li{
    width:50%;
    padding:3% 0;/*15px*/
    float:left;
    text-align:center;
}
#container .product li a{}
#container .product li a img{
    width:50%; /*225px*/
    height:auto;
}
#container .product li a p{
    margin-top:5%;/*25px*/
    font-size:4.2vw;/*21px*/
    line-height:1em;
    font-weight:bold;
}

/* 배너 */
#container .banner{
    padding-top:8%; /*40px*/
}
#container .banner li{
}
#container .banner li a{}
#container .banner li a img{
    width:100%;
    height:auto;
}

/* 공지상항 */
#container .notice{
    margin-top:5%; /*25px*/
}
#container .notice ul{}
#container .notice ul li{
    width:100%;
    position:relative;
}

#container .notice ul li .title{
    position:absolute;
    top:2%; /*10px*/
    left:4%;
    font-size:4.8vw; /*24px*/
    font-weight:bold;
    line-height:1em;
}
#container .notice ul li .more{
    position:absolute;
    top:4%; /*20px*/
    right:4%;
    font-size:2.8vw; /*14px*/
    line-height:1em;
}

#container .notice ul li .write{
    padding-top:21%;/*105px*/
}
#container .notice ul li .write li{
    position:relative;
    margin-bottom:7.8%;/*39px*/
}
#container .notice ul li .write li a{
    font-size:3.2vw; /*16px*/
    line-height:1em;
}
#container .notice ul li .write li span{
    padding:7%;  /*35px*/
}
#container .notice ul li .write li img{
    width:1%; /*5px*/
    height:auto;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:4%; /*10px*/
}

#container .notice .nt2{
    display:none;
}

/* 푸터 구간 */
#footer{
    background:#067c83;
    color:#b9d1d3;
}
#footer .top{
    width:100%;
    height:76px;
    background:#018c94;
    position:relative;
    z-index:300;
}
#footer .top span{
    width:100%;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    font-size:11px;
}
#footer .bottom{
    width:100%;
    background:#067c83;
}
#footer .bottom section{}
#footer .bottom .fmenu{
    width:325px;
    margin:0 auto;
    padding:35px 0 25px;
    font-size:12px;/*12px*/
    line-height:1em;
}
#footer .bottom .fmenu ul{
    display:-webkit- flex;
    display:flex;
}
#footer .bottom .fmenu li{
    margin-right:13px;
    padding-right:13px;
    border-right:1px solid #b9d1d3;
}
#footer .bottom .fmenu li:last-child{
    margin-right:0;
    padding-right:0;
    border-right:none;
}
#footer .bottom .fmenu a{
    color:#b9d1d3;
}

#footer .bottom .finfo{
    text-align:center;
    font-size:14px;/*14px*/
    margin-bottom:35px;
}

#footer .bottom .finfo li{
    margin-bottom:10px;
}
#footer .bottom .finfo div{
    margin-bottom:10px;
}
#footer .bottom .finfo .number{
    width:350px;
    margin:0 auto;
    display:-webkit- flex;
    display:flex;
}
#footer .bottom .finfo .number li{
    margin-right:15px;
    padding-right:15px;
    border-right:1px solid #b9d1d3;
}
#footer .bottom .finfo .number li:last-child{
    margin-right:0;
    padding-right:0;
    border-right:none;
}

#footer .bottom .fwrite{
    text-align:center;
    font-size:10px;/*14px*/
}
#footer .bottom .fsns{}
#footer .bottom .fsns ul{
    width:166px;
    margin:49px auto 32px;
    display:-webkit- flex;
    display:flex;
    justify-content:space-between;
}

#footer .bottom .family{
    text-align:center;
    font-size:14px;/*14px*/
    margin-bottom:46px;
}
#footer .bottom .family select{
    width:207px;
    height:49px;
    background:#07656b;
    color:#b9d1d3;
}
#footer .bottom .flogo{
    text-align:center;
    padding-bottom:78px;
}




/* 모바일 500px 화면 끝 */




















@media screen and (min-width:780px){
    /* 헤더영역 */
    #header .logo img{
        width: 243px;
        height:auto;
    }

    /* 메인 슬라이더 영역 */
    #mainSlider .inner{
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    #mainSlider .photo img{
        width:609px;/* 609px */
        height:auto;
    }
    #mainSlider .writeBox .logo img{
        width:407px;
        height:auto;
        margin-bottom:20px;
    }
    #mainSlider .writeBox .title{
        font-size:34px;
        margin-bottom:14px;
    }
    #mainSlider .writeBox .title span{
        font-size:49px;
    }
    #mainSlider .writeBox .write{
        font-size:26px;
    }

    /* 메인슬라이더 페이저 */
    #mainSlider .bx-pager{
        bottom:5.8%;/* 29px */
    }

    /* 컨테이너 영역 */
    #container .product li{
        width:33.333333%;
    }
    #container .product li a img{
        width:50%;/*203px*/
        height:auto;
    }
    #container .product .pd4{
        display:none;
    }
    #container .product li a p{
    font-size:3vw;/*15px*/
    }
    
    /* 배너 */
    #container .banner{
        width:100%;
        margin:0 auto;
    }
    #container .banner{
        display:-webkit- flex;
        display:flex;
    }
    #container .banner li{
        width:100%;
    }
    #container .banner li:last-child{
    display:none;
    }
    #container .banner li a{}
    #container .banner li a img{
    }
    
    /* 공지사항 */
    #container .notice .nt2{
        display:block;
    }
    #container .notice ul .box{
        width:50%;
        float:left;
    }
    #container .notice ul li .title{
        font-size:3.2vw; /*16%*/
    }
    #container .notice ul li .more{
        font-size:1.8vw; /*9px*/
    }
    #container .notice ul li .write li a{
        font-size:1.8vw; /*9px*/
    }
    #container .notice ul li .write{
    padding-top:26%;/*130px*/
}
    
    
}
/* 태블릿 780PX 화면 끝 */












@media screen and (min-width:1024px){
    #wrap{
        position:relaive;
    }


    /* 헤더영역 */
    #header{
        z-index:300;
        position: relative;
    }
    #wrap .inner{
        width:1240px;
        margin:0 auto;
        z-index:300;
    }
    #header .logo{
        padding-top:50px;
    }

    #header .logo img{
        width: 249px;
        height:auto;
    }
    #header .utill{
        position:absolute;
        top:50px;
        right:0;
    }
    #header .utill ul{
        display:-webkit-flex;
        displaY:flex;
    }
    #header .utill ul li{
        margin-left:8px;
        padding-left:8px;
        border-left:1px solid #9bb8bb;
        line-height:1em;
    }
    #header .utill ul li:first-child{
        margin-left:0;
        padding-left:0;
        border-left:none;
    }
    #header .utill ul li a{
        font: size 17px;
        color:#9bb8bb;
        line-height:1em;
    }

    /* 모바일 사이드메뉴 */
    #header .btnMenu{
        display:none;
    }
    #header .sideMenu{
    display:none;
}
    /* PC 탑메뉴 */
    
    #header .topMenu{
        display:block;
        margin-top:59px;
        z-index:400;
    }
    #header .topMenu .utill{}
    #header .topMenu .utill ul{}
    #header .topMenu .utill ul li{}
    #header .topMenu .utill ul li a{}

    #header .topMenu .gnb{
        position:absolute;
        top:146px;
        left:0;
    }
    #header .topMenu .gnb h2{
        display:none;
    }
    #header .topMenu .gnb ul{
    }
    #header .topMenu .gnb ul .d2{
        float:left;
    }
    #header .topMenu .gnb ul .d2 .pc{
        display:block;
        width:206.666667px;
        height:63px;
        background:#fff;
        color:#2aa9b5;
        font-size:22px;
        font-weight:bold;
        border:1px solid #e1e1e1;
        border-right:none;
        box-sizing:border-box;
        line-height:63px;
        text-align:center;
    }
    #header .topMenu .gnb ul .d2:hover .pc{
        background:linear-gradient(to bottom, #fff, #eee);

    }
    #header .topMenu .gnb ul>.d2:last-child .pc{
        border-right:1px solid #e1e1e1;
    }

    #header .topMenu .gnb ul .d2 .sub{
        width: 100%;
        height:510px;
        display:none;
        z-index:200;
    }
    #header .topMenu .gnb:hover ul .d2 .sub{
        display:block;
    }
    #header .topMenu .gnb ul .d2 .sub li{
        width:206.666667px;
        height:70px;
        line-height:70px;
        text-align:center;
    }
    #header .topMenu .gnb ul .d2 .sub li a{
        font-size:16px;
        font-weight:bold;
    }
    #header .topMenu .gnb ul .d2 .sub li:hover{
        background:#fff;
    }
    #header .topMenu .gnb ul .d2 .sub li:hover a{
        color:#69b5b9;
    }
    #header .topMenu .gnb ul .d2 .sub li a{
        color:#fff;
    }

    /* 탑메뉴 배경 */
    #header .subBg{
        width:100%;
        height:0;
        background:#69b5b9;
        position:absolute;
        top:209px;
        left:0;
    }

    /* 메인슬라이더 영역 */
    #mainSlider{
        padding-top:63px;
    }
    #mainSlider .m{
        display:none;
    }
    #mainSlider .pc{
        display:block;
    }
    #mainSlider .pcBg{
        height:666px;
        background:#ecfbde;
    }
    #mainSlider .msin{
        width:1240px;
        margin:0 auto;
        position:relative;
    }
    #mainSlider .pcPhoto{
        position:absolute;
        bottom:170px;
        right:0;
    }
    #mainSlider .pcWriteBox{
        text-align:left;
        position:absolute;
        left:0;
        bottom:302px;
        
    }
    #mainSlider .pcWriteBox .pcLogo{
        margin-bottom:21px;
    }
    #mainSlider .pcWriteBox .pcTitle{
        font-weight:bold;
        color:#3bc5cd;
        font-size:41px;
        line-height:1em;
        margin-bottom:14px;
    }
    #mainSlider .pcWriteBox .ptitle span{
        font-size:61px;
        color:#4ac869;
        line-height:1em;
    }
    #mainSlider .pcWriteBox .pcWrite{
        font-size:32px;
        color:#139f8a;
        line-height:1em;
    }

    #mainSlider .more{
        display:block;
        width:203px;
        height:48px;
        background:#3bc5cd;
        position:absolute;
        left:0;
        bottom:216px;
        transition:all 0.3s;
    }
    #mainSlider .more .text{
        display:inline-block;
        color:#fff;
        font-size:19px;
        position:absolute;
        top:50%;
        left:20px;
        transform:translateY(-50%);
    }
    #mainSlider .more .line{
        display:inline-block;
        text-indent:-9999px;
        width:28px;
        height:1px;
        background:#fff;
        position:absolute;
        top:50%;
        left:129px;
        transform:translateY(-50%);
        transition:all 0.3s;

    }
    #mainSlider .more:hover{
        background:#fff;
    }
    #mainSlider .more:hover .text{
        color:#3bc5cd;
    }
    #mainSlider .more:hover .line{
        background:#3bc5cd;
        width:45px;
    }
    
    #mainSlider .s2{
        background:#2d2e2d;
    }
    #mainSlider .msIn{
        width:1240px;
        margin:0 auto;
        position: relative;
    }
    #mainSlider .sBg2{
    }
    #mainSlider .pc .sBackground{
        width:1240px;
        margin:0 auto;
    }
    /* 더보기 메인2 */
    #mainSlider .s2 .pc .more{
        display:block;
        width:203px;
        height:48px;
        background:#575858;
        position:absolute;
        left:0;
        bottom:216px;
        transition:all 0.3s;}
    #mainSlider .s2 .pc .more .text{}
    #mainSlider .s2 .pc .more .line{}
    #mainSlider .more .text{
        display:inline-block;
        color:#fff;
        font-size:19px;
        position:absolute;
        top:50%;
        left:20px;
        transform:translateY(-50%);
    }
    #mainSlider .s2 .more .line{
        display:inline-block;
        text-indent:-9999px;
        width:28px;
        height:1px;
        background:#fff;
        position:absolute;
        top:50%;
        left:129px;
        transform:translateY(-50%);
        transition:all 0.3s;

    }
    #mainSlider .s2 .more:hover{
        background:#fff;
    }
    #mainSlider .s2 .more:hover .text{
        color:#575858;
    }
    #mainSlider .s2 .more:hover .line{
        background:#575858;
        width:45px;
    }

    /* 더보기 메인3 */
    #mainSlider .s3{
        background:#afd9f9;
    }
    #mainSlider .s3 .pc .more{
        display:block;
        width:203px;
        height:48px;
        background:#0047c4;
        position:absolute;
        left:0;
        bottom:216px;
        transition:all 0.3s;}
    #mainSlider .s3 .pc .more .text{}
    #mainSlider .s3 .pc .more .line{}
    #mainSlider .more .text{
        display:inline-block;
        color:#fff;
        font-size:19px;
        position:absolute;
        top:50%;
        left:20px;
        transform:translateY(-50%);
    }
    #mainSlider .s3 .more .line{
        display:inline-block;
        text-indent:-9999px;
        width:28px;
        height:1px;
        background:#fff;
        position:absolute;
        top:50%;
        left:129px;
        transform:translateY(-50%);
        transition:all 0.3s;

    }
    #mainSlider .s3 .more:hover{
        background:#fff;
    }
    #mainSlider .s3 .more:hover .text{
        color:#0047c4;
    }
    #mainSlider .s3 .more:hover .line{
        background:#0047c4;
        width:45px;
    }

    /* 컨테이너 영역 */
    #container .inner{
        width:1240px;
        margin:0 auto;
    }
    #container .product li{
        width:310px;
    }
    #container .product .pd4{
        display:block;
    }
    #container .product li a p{
        margin-top:20px;
        font-size:26px;
    }
    
    /* 배너 */
    #container .banner li:last-child{
    display:block;
    }
    #container .banner li a img{
        width:413px;
        height:auto;
    }
    
    /* 공지사항 */
     #container .notice ul .box{
        width:620px;
    }
    #container .notice ul li .title{
        font-size:34px;
    }
    #container .notice ul li .more{
        font-size:20px;
    }
    #container .notice ul li .write li a{
        font-size:23px;
    }
    
    /* 푸터 구간 */
    #footer{
        margin-top:70px;
        width:100%;
        position:relative;
    }
    #footer .inner{
        position:relative;
    }
    #footer .fBack{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:106px;
        background:#018c94;
    }
    #footer .top{
        height:106px;
    }
    #footer .top span{
        font-size:15px;
    }
    #footer .top span br{
        display: none;
    }
    #footer .bottom .fmenu{
        margin:0;
        text-align:left;
    }
    #footer .bottom .finfo{
        text-align:left;
    }
    #footer .bottom .finfo .number{
        margin:0;
    }
    #footer .bottom .fwrite{
        text-align:left;
        font-size:15px;
    }
    #footer .bottom .fbox{
        position:absolute;
        top:148px;
        right:0;
    }
    #footer .bottom .flogo{
        text-align:left;
        padding-top:42px;
    }
}
/* pc 1024px 화면 끝 */























