@charset "utf-8";

#wrap{}

/* 헤더 영역 */
#header{
    width:100%;
    height:111px;
    background:#947967;
}
#headerIn{
    width:1200px;
    height:111px;
    margin:0 auto;
    position:relative;
    z-index:400;
}

.logo{
    padding-top:20px;
}
.utill{
    position:absolute;
    top:20px;
    right:0;
}
.utill ul{}
.utill ul li{
    float:left;
    line-height:13px;
    border-left:1px solid #fff;
    margin-left:14px;
    padding-left:14px;
}
.utill ul li:hover a{
    color:#6d3b06;
}
.utill ul li:first-child{border-left:none;}
.utill ul li a{
    font-size:13px;
    color:#fff;
}
h2{
    display:none;
}
.gnb{
    position:absolute;
    top:48px;
    left:230px;
    height:63px;
    overflow:hidden;
    z-index:400;
    
}
.gnb ul{}
.gnb>ul li{
    float:left;
    width:150px;
    height:59px;
    text-align:center;
}

.gnb .g1 .d1{
    font-size:22px;
    line-height:22px;
    font-weight:bold;
    color:#fff;
}
.gnb ul li:hover .d1{
    color:#f49930;
}

.gnb ul li .sub{
    width:150px;
    height:340px;
    padding-top:70px;
    overflow:hidden;
}

.gnb ul li .sub ul{}
.gnb ul li .sub ul li{
    height:59px;
}
.gnb ul li .sub li a{
    font-size:14px;
    font-weight:bold;
    color:#6f4920;
}
.gnb ul li .sub li:hover a{
    text-decoration:underline;
    font-weight:900;
}
#header .subBg{
    width:100%;
    height:0;
    background:#fcebca;
    overflow:hidden;
    position:absolute;
    top:111px;
    left:0;
    z-index:100;
}

.gnb ul:hover li .sub{
    display:block;
}


/* 메인슬라이더 영역 */
.mainSlider{
    position:relative;
}
.mainSlider li{
    width:100%;
    height:666px;
    position:relative;
}
.mainSlider .inner{
    width:1200px;
    height:666px;
    margin:0 auto;
    position:relative;
}

/* 더보기 */
.mainSlider .more{}
.mainSlider .more .box{
    display:block;
    width:214px;
    height:51px;
    background:#f7941d;
    border-radius:45px;
    position:absolute;
    top:374px;
    right:410px;
}

.mainSlider .more span{
    position:absolute;
    transition:all 0.5s;
}

.mainSlider .more .write{
    display:inline-block;
    font-size:20px;
    line-height:1em;
    font-weight:600;
    color:#fff;
    top:16px;
    left:24px;
}

.mainSlider .more .arrow{
    display:inline-block;
    text-indent:-9999px;
    width:10px;
    height:10px;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
    transform:rotate(45deg);
    top:19px;
    right:63px;
}

.mainSlider .more:hover .write{
    left:40px;
}
.mainSlider .more:hover .arrow{
    right:40px;
}



/* s1 */
.mainSlider .s1{
    background:url(../img/mainSlider.jpg) no-repeat center 0;
}

.mainSlider .s1 .photo{
    width:489px;
    height:453px;
    text-indent:-9999px;
    background:url(../img/sliderpd.png) no-repeat;
    position:absolute;
    top:120px;
    left:0;
}

.mainSlider .s1 .title{
    position:absolute;
    top:210px;
    right:106px;
}
.mainSlider .s1 .title .big{
    display:block;
    font-size:56px;
    line-height:1em;
    font-weight:800;
    margin-bottom:22px;
    color:#6a441b;
}
.mainSlider .s1 .title .small{
    display:block;
    font-size:32px;
    line-height:1em;
    font-weight:bold;
    color:#b18a68;
}





/* s2 */
.mainSlider .s2{
    background:#e1f0fb;
}

.mainSlider .s2 .more .box{
    background:#045ea1;
}


/* s3 */
.mainSlider .s3{
    background:#fbe5e6;
}

.mainSlider .s3 .more .box{
    background:#fa8585;
}


/* 페이저 */
.mainSlider .bx-pager{
    width:95px;
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    position:absolute;
    bottom:47px;
    left:50%;
    transform:translateX(-50%);
}

.mainSlider .bx-pager div{}
.mainSlider .bx-pager div a{
    text-indent:-9999px;
    display:block;
    width:15px;
    height:15px;
    background:rgba(225,225,225,0.5);
    border-radius:50%;
}
.mainSlider .bx-pager div .active{
    width:45px;
    border-radius:15px;
    background:rgba(249,212,123,0.8);
}



/* 메인 컨테이너 영역 */
#container{
    margin:83px 0 146px 0;
}

/* 이너 공통 영역 */
.ct{
    width:1200px;
    margin:0 auto;
    position:relative;
}

.cont1{
    margin-bottom:134px;
}
.cont1 .logo a{
    display:block;
    width:259px;
    height:92px;
    background:url(../img/title1.jpg) no-repeat;
    text-indent:-9999px;
    margin:0 auto 59px;
}
.cont1 .product{
    width:1154px;
    margin:0 auto;
}

/* 박스 공통 영역 */
.cont1 .product li{
    width:275px;
    height:325px;
    border-radius:15px;
    float:left;
    margin-right:18px;
}

/* 박스 개별 영역 */
.cont1 .product .box1{
    background:#f8e3da;
}
.cont1 .product .box2{
    background:#f1cebf;
}
.cont1 .product li:last-child{
    margin-right:0;
}

.cont1 .product li .photo{
    width:230px;
    height:200px;
    margin:0 auto;
    margin-top:23px;
    position:relative;
}
.cont1 .product li .photo img{
    width:230px;
    height:200px;
}
.cont1 .product li .over{
    display:block;
    width:230px;
    height:200px;
    position:absolute;
    top:0;
    left:0;
    transition:all 0.5s;
}

/* 상품 하버시 */
.cont1 .product li:hover .over{
    box-shadow:0 0 0 10px #fdd501 inset;
} 
/*{box-shadow:가로위치 세로위치 번짐 그림자색상}
    - 가로위치 : (+) 오른쪽 / (-) 왼쪽
    - 세로위치 : (+) 아래쪽 / (-) 위쪽
    => 기본위치 : 오른쪽 / 아래쪽 (+/+)
    inset추가시 패딩으로 나타남
*/

.cont1 .product li .text{
    font-size:16px;
    font-weight:bold;
    line-height:1em;
    text-align:center;
    padding:29px 0 11px 0;
}
.cont1 .product li .price{
    font-size:17px;
    font-weight:800;
    line-height:1em;
    color:#e02a2a;
    text-align:center;
}

.cont1 .arrow a{
    display:block;
    text-indent:-9999px;
    width:20px;
    height:20px;
    border-top:5px solid #4c3027;
    border-left:5px solid #4c3027;
    position:absolute;
    top:320px;
}
.cont1 .arrow .left{
    transform:rotate(-45deg);
    left:0;
}
.cont1 .arrow .right{
    transform:rotate(135deg);
    right:0;
}



.cont2{
    width:100%;
    height:647px;
    background:url(../img/background.jpg) no-repeat center 0;
    margin-bottom:156px;
}
.cont2 .cBg{
    height:647px;
    position:relative;
}

.cont2 .white{
    width:1092px;
    height:466px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:20px;
    overflow:hidden;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5)
}

.cont2 .white .youtube{
    width:520px;
    height:275px;
    margin-top:71px;
    margin-left:36px;
}

.cont2 .white .title{
    position:absolute;
    top:120px;
    right:36px;
}
.cont2 .white .title .big{
    display:block;
    font-size:25px;
    font-weight:800;
    line-height:1em;
    margin-bottom:33px;
    color:#6a441b;
}
.cont2 .white .title .small{
    font-size:18px;
    font-weight:bold;
    line-height:1.3em;
    color:#cb7c20;
}

.cont2 .white .more{
    position:absolute;
    bottom:101px;
    right:151px;
}
.cont2 .white .more .box{
    display:block;
    width:207px;
    height:49px;
    background:#f16c6f;
    position:relative;
    border-radius:40px;
}
.cont2 .white .more .box span{
    position:absolute;
    transition:all 0.5s;
}
.cont2 .white .more .write{
    display:inline-block;
    font-size:20px;
    line-height:1em;
    font-weight:bold;
    color:#fff;
    left:24px;
    top:16px;
}
.cont2 .white .more .arrow{
    display:inline-block;
    width:9px;
    height:9px;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
    text-indent:-9999px;
    transform:rotate(45deg);
    top:19px;
    right:60px;
}
/* 하버시 */
.cont2 .more:hover .write{
    left:37px;
}
.cont2 .more:hover .arrow{
    right:36px;
}

.cont3{
    margin-bottom:170px;
}
.cont3 .ct>div{
    float:left;
    border-radius:15px;
    overflow:hidden;
}
.cont3 .ct>div:nth-child(1), .cont3 .ct>div:nth-child(2){
    margin-right:30px;
    margin-bottom:52px;
}
.cont3 .ct>div:nth-child(3){
    margin-bottom:52px;
}
.cont3 .ct>div:nth-child(4){
    position:absolute;
    top:263px;
    left:0;
}


.cont3 .ct>div{
    transition:all 0.8s;
}
.cont3 .ct div>a{
    position:relative;
}
/* 배경 공통 값 */
.cont3 p{
    display:block;
    width:380px;
    background:rgba(0,0,0,0);
    position:absolute;
    top:0;
    left:0;
    transition:all 0.8s;
}
.cont3 p .go{
    color:#fff;
    font-size:35px;
    font-weight:bold;
    position:absolute;
    top:50%;
    left:104px;
    display:none;
}

.cont3 p .arrow{
    text-indent:-9999px;
    width:14px;
    height:14px;
    border-top:9px solid #fff;
    border-right:9px solid #fff;
    transform:rotate(45deg);
    position:absolute;
    top:50%;
    left:247px;
    display:none;
}
/* 배경 개별 값 */
.cont3 .small{
    height:211px;
}
.cont3 .big{
    height:429px;
}
/* 하버시 */
.cont3 .ct>div:hover p{
    background:rgba(0,0,0,0.6);
}
.cont3 .ct>div:hover p .go{
    display:block;
}
.cont3 .ct>div:hover p .arrow{
    display:inline-block;
}


.cont3 .box{
    width:380px;
    height:211px;
    border:10px solid #f0cf9b;
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    left:410px;
}
.cont3 .box .title{
    font-size:24px;
    font-weight:bold;
    text-align: center;
    margin:19px 0 31px;
}
.cont3 .box ul{}
.cont3 .box ul li{
    margin-bottom:28px;
    position:relative;
}
.cont3 .box ul li a{
    display:block;
    height:12px;
    font-size:12px;
    line-height:1em;
    margin-left:30px;
}

/* 마우스 하버시 */
.cont3 .box ul li:hover a{
    text-decoration:underline;
}




.cont3 .box ul li span{
    display:block;
    text-indent:-9999px;
    width:6px;
    height:6px;
    border-radius:6px;
    background :#111;
    position:absolute;
    top:50%;
    left:15px;
    transform:translate(0, -50%)
}

.cont4{}
.cont4 .logo{
    display:block;
    text-indent:-9999px;
    width:183px;
    height:52px;
    background:url(../img/title2.jpg) no-repeat;
    margin:0 auto 34px;
}
.cont4 .photo{
    width:1150px;
    margin:0 auto;
}
.cont4 .photo li{
    float:left;
    margin-right:20px;
    border-radius:15px;
    overflow:hidden;
}
.cont4 .photo li:last-child{
    margin-right:0;
}
.cont4 .photo li img{
    width:175px;
    height:auto;
    transition:all 1s;
}

/* 마우스 하버 시 */
.cont4 ul li:hover img{
    transform:scale(1.3)
}

.cont4 .arrow{}

/* 화살표 공통값 */
.cont4 .arrow a{
    display:block;
    text-indent:-9999px;
    width:15px;
    height:15px;
    border-top:5px solid #999;
    border-right:5px solid #999;
    position:absolute;
    top:180px;
}
/* 화살표 개별 값*/
.cont4 .arrow .left{
    transform:rotate(-135deg);
    left:0;
}
.cont4 .arrow .right{
    transform:rotate(45deg);
    right:0;
}



/* 푸터 영역 */
#footer{
    width:100%;
    height:260px;
    background:#633d26;
}
#footerIn{
    width:1200px;
    height:260px;
    margin:0 auto;
    position:relative;
}
.flogo{
    padding-top:50px;
}

.finfo{
    position:absolute;
    top:50px;
    left:200px;
}

.finfo .click a{
    font-size:14px;
    line-height:1em;
    color:#eee;
    border-right:1px solid #eee;
    margin-right:13px;
    padding-right:15px;
}

.finfo .click .top{
    margin-bottom:8px;
}
.finfo .click .top a:last-child{
    border-right:none;
    margin-right:0;
    padding-right:0;
}
.finfo .click .bottom{
    margin-bottom:24px;
}
.finfo .click .bottom a:last-child{
    border-right:none;
    margin-right:0;
    padding-right:0;
}

.finfo .noClick span{
    font-size:14px;
    line-height:1em;
    color:#eee;
    display:block;
    margin-bottom:8px;
}

.list{
    position:absolute;
    top:49px;
    right:0;
}
.list .siteMap a{
    text-indent:-9999px;
    display:inline-block;
    width:121px;
    height:35px;
    background:url(../img/sitemap.png) no-repeat;
    margin-right:120px;
    position:relative;
   }
.list .family{
    text-indent:-9999px;
    display:inline-block;
    width:121px;
    height:35px;
    background:url(../img/family.png) no-repeat;
    position:absolute;
    top:0;
    left:131px;
}
.list select option{
    background:#d59f7c;
    color:#fff;
}
.list .icon{
    text-indent:-9999px;
    width:121px;
    height:67px;
    background:url(../img/icon.png) no-repeat;
    position:absolute;
    top:51px;
    left:60px;
}

















































